@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!-- Prvi nivo-->
    <div class="row">
        <div class="col">
            <a href="/BillsGSM/Index">
                <img src="~/Images/GSM forma.png" class="img-responsive inline-block" alt="..." style="width:100%">
                <div class="caption">
                    <p>Billing za pretplatnike GSM usluga</p>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="Bills/Index">
                <img src="~/Images/Fixed forma.png" class="img-responsive inline-block" alt="..." style="width:100%; height:auto">
                <div class="caption">
                    <p>Billing za pretplatnike fiksne telefonske usluge</p>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/Bills/Index">
                <img src="~/Images/BIHPAK forma.png" class="img-responsive inline-block" alt="..." style="width:100%">
                <div class="caption">
                    <p>Billing za BIHPAK</p>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/Bills/Index">
                <img src="~/Images/BIHNET forma.png" class="img-responsive inline-block" alt="..." style="width:100%">
                <div class="caption">
                    <p>Billing za BIHNET</p>
                </div>
            </a>
        </div>
    </div>

    <!-- Drugi nivo-->
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col">
            <a href="/Bills/Index">
                <img src="~/Images/VPN forma.png" class="img-responsive inline-block" alt="..." style="width:100%">
                <div class="caption">
                    <p>VPN billing</p>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/Bills/Index">
                <img src="~/Images/VPN forma.png" class="img-responsive inline-block" alt="..." style="width:100%">
                <div class="caption">
                    <p>Bundle billing</p>
                </div>
            </a>
        </div>
        <div class="col-sm-3"></div>
    </div>


</div>
    

    
